@import url("https://fonts.googleapis.com/css?family=Raleway:400, 500,700|Open+Sans:400, 500,700|Merriweather:700, 400");
:root {
  --primary: #f2f3d9;
  --secondary: #030027;
  --primary-dark: #848577;
  --secondary-dark: #757389;
  --neutral-grey: #cbc9c5;
  --body-bg: #f5faff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100%;
  min-height: 100%;
  background: var(--body-bg);
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
/* Main page Styling */
#wrapper {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#wrapper nav {
  width: 100%;
  min-height: 4.5rem;
  background: var(--secondary);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

#wrapper nav .navbar-brand {
  font-size: 1.9rem;
  color: var(--primary);
  font-family: "Merriweather", serif;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
}

#wrapper nav .navbar-brand > span > span:first-child {
  border: solid 2px;
  padding: 0.2rem;
  font-weight: 700;
  margin: 0 0.2rem;
}

#wrapper nav .navbar-brand > span > span:last-child {
  color: var(--primary-dark);
}

#content {
  width: 100%;
  box-sizing: border-box;
}

#content .content-inner {
  width: 80%;
  margin: 2.5rem auto;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

#content .content-inner .content-top {
  display: flex;
  flex-direction: column;
}

#content .content-inner .content-top h3 {
  text-transform: capitalize;
  letter-spacing: 0.03rem;
  font-size: 1.5rem;
  font-weight: 700;
}

#content .content-inner .content-top > ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  grid-column-gap: 1rem;
  margin: 1rem 0;
}

#content .content-inner .content-top > ul > li > a {
  text-transform: capitalize;
  border-bottom: solid 2px var(--neutral-grey);
  display: block;
  color: var(--neutral-grey);
}

#content .content-inner .content-top > ul > li > a:hover {
  color: var(--secondary);
  border-bottom-color: var(--secondary);
}

/* Table Section Styling */
#content .content-inner .content-bottom {
  width: 100%;
}

#content .content-inner .content-bottom .table-responsive {
  width: 100%;
  overflow-x: auto;
}

#content .content-inner .content-bottom .table-responsive .table > thead {
  background: var(--secondary);
  text-align: center;
}

#content
  .content-inner
  .content-bottom
  .table-responsive
  .table
  > thead
  > tr
  > th {
  color: var(--primary);
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0.5rem;
  font-size: 0.85rem;
}

#content
  .content-inner
  .content-bottom
  .table-responsive
  .table
  > tbody
  > tr
  > td {
  color: var(--secondary-dark);
  padding: 1rem 0.5rem;
  font-size: 0.85rem;
}

#content
  .content-inner
  .content-bottom
  .table-responsive
  .table
  > tbody
  > tr
  > td:first-child
  > a {
  color: var(--secondary-dark);
}

#content
  .content-inner
  .content-bottom
  .table-responsive
  .table
  > tbody
  > tr
  > td:first-child
  > a:hover {
  color: var(--secondary);
  text-decoration: underline;
}

#content
  .content-inner
  .content-bottom
  .table-responsive
  .table
  > tbody
  > tr
  > td {
  text-transform: capitalize;
}

.content-bottom .table-responsive .table > tbody > tr > td > span {
  box-sizing: border-box;
  display: block;
  width: 100%;
  display: flex;
}

.content-bottom .table-responsive .table > tbody > tr > td > span > span {
  border: solid 2px var(--primary-dark);
  margin: 0.1rem;
  border-radius: 100%;
}
.content-holder {
  box-sizing: border-box;
  padding: 0.5rem;
  animation: unfold 0.5s ease-in;
}

/* End of table section */
/* Main page styling end */
/* Modal Styling */
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(3, 0, 39, 0.3);
  overflow-y: auto;
  z-index: 1;
  left: 0;
  top: 0;
  display: none;
  animation: unravel 0.8s ease-in;
}

.modal .modal-dialog {
  width: 60%;
  min-height: 60%;
  background: var(--primary);
  border-radius: 0.25rem;
  margin: 2rem auto;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.modal .modal-dialog > span {
  float: right;
  padding: 0.2rem;
  cursor: pointer;
  color: var(--secondary-dark);
  border-radius: 3rem;
}

.modal .modal-dialog > span:hover,
.modal .modal-dialog > span:focus {
  color: var(--secondary);
}
.modal .modal-dialog .modal-body {
  width: 100%;
  height: 100%;
  border: solid 1px var(--neutral-grey);
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  line-height: 1.7rem;
  border-radius: 0.25rem;
}

.modal-dialog .modal-body > form {
  display: flex;
}

.modal-dialog .modal-body > form .form-group {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
}

.modal-dialog .modal-body > form > .original {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--neutral-grey);
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.modal-dialog .modal-body > form > .custom {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modal-body > form > .custom > .form-group > span {
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

/* edit repo heading edit */
.modal-dialog .modal-body > h3 {
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  font-size: 1.7rem;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--neutral-grey);
  display: block;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  color: var(--secondary);
}

/* Edit custom and original headings */
.modal-dialog .modal-body > form h5 {
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  font-size: 1rem;
  border-bottom: solid 1px var(--neutral-grey);
  color: var(--secondary);
}

/* Labels design */
.modal-dialog .modal-body > form .form-group label {
  text-transform: capitalize;
  font-size: 0.85rem;
  color: var(--secondary-dark);
  letter-spacing: 0.05rem;
}

/* Modal Styling End */
/* Utility Classes */
.form-control {
  background: transparent;
  border: solid 1px var(--neutral-grey);
  border-radius: 0.25rem;
  padding: 0.5rem 0.25rem;
  font-size: 0.85rem;
}

.btn {
  background: transparent;
  border: none;
  text-transform: uppercase;
  padding: 0.8rem 0.4rem;
  margin: 0.75rem 0;
  letter-spacing: 0.025rem;
  font-family: "Merriweather", sans-serif;
  font-size: 0.875rem;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-primary {
  border: solid 1px var(--secondary-dark);
}

.btn-primary:hover {
  background: var(--secondary);
  color: var(--primary);
}

textarea {
  resize: none;
  font-family: "Raleway", sans-serif;
}

.alert {
  border-left: solid 5px var(--neutral-grey);
  box-sizing: border-box;
  padding: 1rem 0.25rem;
  font-size: 0.8rem;
  color: var(--secondary);
  background: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
  line-height: 1.5rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  letter-spacing: 0.04rem;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  color: var(--secondary-dark);
}

.alert > .fa-check {
  padding: 0.3rem;
  border: solid 1px;
  margin: 0 0.5rem;
  border-radius: 100%;
}
.alert-success > .fa-check {
  background: #008000;
  color: var(--primary);
}

.alert-success {
  border-color: #008000;
}

.alert-danger > .fa-check {
  background: #ff0000;
  color: var(--primary);
}

.alert-danger {
  border-color: #ff0000;
}

.active {
  display: block;
}

.active-row {
  display: table-row !important;
}

tr.content-holder-row {
  display: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: var(--primary);
  border: solid 1px rgb(223, 223, 223);
}

.table-striped > tbody > tr:nth-child(odd) {
  background: rgb(255, 255, 255);
}
/* Keyframes */
@keyframes unravel {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes unfold {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
